@font-face {
  font-family: "neontubes";
  src: url("https://bitbucket.org/kennethjensen/webfonts/raw/fc13c1cb430a0e9462da56fe3f421ff7af72db71/neontubes/neontubes-webfont.eot");
  src: url("https://bitbucket.org/kennethjensen/webfonts/raw/fc13c1cb430a0e9462da56fe3f421ff7af72db71/neontubes/neontubes-webfont.eot?#iefix")
      format("embedded-opentype"),
    url("https://bitbucket.org/kennethjensen/webfonts/raw/fc13c1cb430a0e9462da56fe3f421ff7af72db71/neontubes/neontubes-webfont.woff2")
      format("woff2"),
    url("https://bitbucket.org/kennethjensen/webfonts/raw/fc13c1cb430a0e9462da56fe3f421ff7af72db71/neontubes/neontubes-webfont.woff")
      format("woff"),
    url("https://bitbucket.org/kennethjensen/webfonts/raw/fc13c1cb430a0e9462da56fe3f421ff7af72db71/neontubes/neontubes-webfont.ttf")
      format("truetype");
  font-weight: normal;
  font-style: normal;
}

:root {
  --font-family: "Poppins", sans-serif;
  --font-neon: "neontubes", sans-serif;
  --space-md: 16px;
  --space-lg: 24px;
  --space-xl: 48px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  background-color: #182245;
  font-size: 16px;
}

li {
  list-style-type: none;
}

/* VARIABLES */
.fixed-top {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.w-100 {
  width: 100%;
}

.display-flex {
  display: flex;
}

.justify-space {
  justify-content: space-between;
}

.align-items-center {
  align-items: center;
}

.line__blueLeft {
  position: absolute;
  width: 100%;
  height: 8px;
  background-color: #d9edff;
  box-shadow: 0 0 10px #2196f3, 0 0 40px #2196f3, 0 0 60px #2196f3;
  animation: blink 4s infinite alternate;
}

.line__blueRight {
  position: absolute;
  width: 50%;
  height: 8px;
  background-color: #d9edff;
  box-shadow: 0 0 10px #2196f3, 0 0 40px #2196f3, 0 0 60px #2196f3;
  animation: blink 4s infinite alternate;
}

.line__redLeft {
  position: absolute;
  width: 250px;
  height: 8px;
  background-color: #ffd9e2;
  box-shadow: 0 0 10px #ff003c, 0 0 40px #ff003c, 0 0 80px #ff003c,
    0 0 10px #ff003c;
  animation: blink 4s infinite alternate;
}

.line__redRight {
  position: absolute;
  width: 100%;
  height: 8px;
  background-color: #ffd9e2;
  box-shadow: 0 0 10px #ff003c, 0 0 10px #ff003c, 0 0 10px #ff003c;
  animation: blink 4s infinite alternate;
}
/* VARIABLES */

/* PRE LOADER */
#loader-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background-color: #182245;
}

#loading-center-absolute {
  position: absolute;
  left: 50%;
  top: 50%;
  height: 200px;
  width: 200px;
  transform: translate(-50%, -50%) rotate(-135deg);
  z-index: 1001;
}

.loaded #loading-center-absolute {
  opacity: 0;
  visibility: hidden;
  transition: 0.3s ease-out;
}

.loaded #loader-wrapper {
  visibility: hidden;
  transform: translateY(-100%);
  transition: 0.3s 1s ease-out;
}

@keyframes animate {
  50% {
    transform: rotate(360deg) scale(0.8);
  }
}

.object {
  border-radius: 50% 50% 50% 50%;
  position: absolute;
  border-top: 5px solid #fff;
  border-bottom: 5px solid transparent;
  border-left: 5px solid #fff;
  border-right: 5px solid transparent;
  animation: animate 2s infinite;
}

#object_one {
  left: 75px;
  top: 75px;
  width: 50px;
  height: 50px;
}

#object_two {
  left: 65px;
  top: 65px;
  width: 70px;
  height: 70px;
  animation-delay: 0.2s;
}

#object_three {
  left: 55px;
  top: 55px;
  width: 90px;
  height: 90px;
  animation-delay: 0.4s;
}

#object_four {
  left: 45px;
  top: 45px;
  width: 110px;
  height: 110px;
  animation-delay: 0.6s;
}
/* PRE LOADER */

h1 {
  color: white;
  font-size: 500px;
}

/* HEADER */
.header {
  z-index: 9999;
  background-color: #000f34;
  align-items: center;
  justify-content: space-between;
  border-top: 6px solid rgba(255, 0, 60, 0.5);
}

.nav-menu {
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav-menu > ul > li {
  position: relative;
  white-space: nowrap;
  float: left;
}

.nav-menu a {
  display: block;
  position: relative;
  color: #745c54;
  padding: 10px 15px;
  font-size: 1rem;
  font-family: var(--font-family);
  font-weight: 600;
}

.nav-menu .active > a,
.nav-menu a:hover,
.nav-menu li:hover > a {
  color: #ff5821;
  text-decoration: none;
  transition: ease-in 0.2s;
}

.nav-menu .drop-down ul {
  display: block;
  position: absolute;
  left: 0;
  top: calc(100% + 30px);
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  padding: 10px 0;
  background: #fff;
  box-shadow: 0 0 30px rgba(127, 137, 161, 0.25);
  transition: ease 0.3s;
  border-radius: 8px;
}

.nav-menu .drop-down:hover ul {
  opacity: 1;
  top: 100%;
  visibility: visible;
}

.nav-menu .drop-down li {
  min-width: 180px;
  position: relative;
}

.nav-menu .drop-down ul a {
  padding: 10px 20px;
  font-size: 14px;
  font-weight: 500;
  text-transform: none;
}

.nav-menu .drop-down ul .active > a,
.nav-menu .drop-down ul a:hover,
.nav-menu .drop-down ul li:hover > a {
  color: #ff5821;
}

.nav-menu .drop-down > a:after {
  content: "\EA4e";
  font-family: remixicon;
  padding-left: 5px;
}

.mobile-nav-toggle {
  position: fixed;
  right: 15px;
  top: 32px;
  z-index: 99999;
  border: 0;
  background: 0 0;
  font-size: 24px;
  transition: all 0.4s;
  outline: 0 !important;
  line-height: 1;
  cursor: pointer;
  text-align: right;
}

.mobile-nav-toggle i {
  color: #ff5821;
}

.mobile-nav {
  position: fixed;
  top: 75px;
  right: 15px;
  bottom: 15px;
  left: 15px;
  z-index: 99998;
  overflow-y: auto;
  background: #fff;
  transition: ease-in-out 0.2s;
  opacity: 0;
  visibility: hidden;
  border-radius: 10px;
  padding: 10px 0;
  line-height: 1.5;
  font-family: var(--font-family);
}

.mobile-nav * {
  margin: 0;
  padding: 0;
  list-style: none;
}

.mobile-nav a {
  display: block;
  position: relative;
  color: #745c54;
  padding: 10px 20px;
  font-weight: 500;
  outline: 0;
}

.mobile-nav .active > a,
.mobile-nav a:hover,
.mobile-nav li:hover > a {
  color: #ff5821;
  text-decoration: none;
}

.mobile-nav .drop-down > a:after {
  content: "\EF3E";
  font-family: remixicon;
  padding-left: 10px;
  position: absolute;
  right: 15px;
}

.mobile-nav .active.drop-down > a:after {
  content: "\EA4E";
}

.mobile-nav .drop-down > a {
  padding-right: 35px;
}

.mobile-nav .drop-down ul {
  display: none;
  overflow: hidden;
}

.mobile-nav .drop-down li {
  padding-left: 20px;
}

.mobile-nav-overly {
  width: 100%;
  height: 100%;
  z-index: 99978;
  top: 0;
  left: 0;
  position: fixed;
  background: rgba(43, 37, 35, 0.6);
  overflow: hidden;
  display: none;
  transition: ease-in-out 0.2s;
}

.mobile-nav-active .mobile-nav {
  opacity: 1;
  visibility: visible;
}

.mobile-nav-active .mobile-nav-toggle i {
  color: #fff;
}

.display-none {
  display: none;
}

@media (min-width: 991px) {
  .display-lg-none {
    display: none;
  }

  .display-lg-block {
    display: block;
  }
}
/* HEADER */

/* HERO */
#hero {
  margin-top: 80px;
  padding: 60px 0;
  overflow: hidden;
  color: #fff;
  font-family: var(--font-family);
}

.inner-cont {
  padding: 0 15%;
  display: grid;
  grid-template-columns: 49% 51%;
  grid-template-rows: auto;
  align-items: center;
  justify-content: center;
}

.title__text {
  font-family: var(--font-neon);
  font-size: 5rem;
  color: #ffd9e2;
  text-shadow: 0 0 10px #ff003c, 0 0 10px #ff003c, 0 0 50px #ff003c,
    0 0 50px #ff003c;
  animation: blink 4s infinite alternate;
}

.subtitle__text {
  font-size: 3rem;
  font-family: var(--font-neon);
  color: #d9edff;
  text-shadow: 0 0 10px #08f, 0 0 10px #08f, 0 0 10px #08f;
}

.description__text {
  margin-top: var(--space-md);
  font-size: 120%;
}

.see__product {
  margin-top: 2%;
  position: relative;
  display: inline-block;
  color: #2196f3;
  font-weight: 700;
  padding: 10px;
  text-transform: uppercase;
  letter-spacing: 4px;
  text-decoration: none;
  font-size: 15px;
  overflow: hidden;
  transition: 1s;
  border-radius: 50px;
  text-align: center;
}

.see__product:hover {
  color: #255784;
  background: #2196f3;
  box-shadow: 0 0 10px #2196f3, 0 0 20px #2196f3;
  transition-delay: 0.1s;
}

.animated {
  animation: mover 1s infinite alternate;
}

@keyframes mover {
  0% {
    transform: translateY(0);
  }
  to {
    transform: translateY(-5px);
  }
}

.hero-logo {
  width: 100%;
}

.inner-cont > div {
  margin-left: 10%;
}

@media screen and (max-width: 1024px) {
  .container {
    padding: 0;
  }
}

@media screen and (max-width: 768px) {
  .container {
    padding: 0 15px;
  }

  .title__text {
    font-size: 3rem;
  }

  .subtitle__text {
    font-size: 2rem;
  }

  .description__text {
    font-size: 1rem;
  }

  .inner-cont {
    display: flex;
    flex-direction: column-reverse;
    text-align: center;
  }

  .inner-cont > div {
    margin-left: 0;
  }

  .hero-logo {
    width: 300px;
  }
}
/* HERO */

/* RECOMMENDATION */
.red__text {
  padding-top: 80px;
  text-align: center;
  font-family: var(--font-neon);
  color: #ffd9e2;
  text-shadow: 0 0 10px #ff003c, 0 0 10px #ff003c, 0 0 10px #ff003c;
}

#card {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 60px auto;
}

.card-container {
  position: relative;
  display: grid;
  justify-content: center;
  width: 800px;
  height: 80%;
  grid-template-columns: repeat(auto-fill, minmax(220px, 250px));
  grid-column-gap: 10px;
  grid-row-gap: 25px;
}

.card {
  border-radius: 0.75rem;
  width: 95%;
  height: 300px;
  padding-bottom: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  background-color: rgba(255, 255, 255, 0.8);
  color: #000;
  font-family: Poppins, sans-serif;
  padding-bottom: 3%;
  text-align: center;
}

.card:hover {
  transform: scale(1.1);
  opacity: 1;
  transition: 0.2s;
  cursor: pointer;
}

.card img {
  width: 100%;
  display: block;
  object-fit: cover;
  border-radius: 0.75rem;
}

.card__title {
  font-size: 120%;
  margin-top: 10px;
  text-align: center;
}

.card__description {
  font-size: 1.2rem;
  padding-bottom: 10px;
  text-align: center;
}

.card__btn {
  color: red;
  border: solid 2px red;
  outline: 0;
  font-size: 1rem;
  padding: 10px 15px;
  border-radius: 20px;
  cursor: pointer;
}

.card__btn:hover {
  color: #fff;
  background-color: red;
  transition: 0.5s;
}

.btn__click {
  color: #fff;
  background-color: red;
}

.card__btnindex {
  color: red;
  border: solid 2px red;
  outline: 0;
  font-size: 1rem;
  padding: 7px 15px;
  border-radius: 20px;
  cursor: pointer;
}

.card__btnindex:hover {
  color: #fff;
  background-color: rgba(255, 0, 60, 0.5);
  transition: 0.5s;
}

@-webkit-keyframes fadevisible {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: opacity linear;
  }
}

@keyframes fadevisible {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: opacity linear;
  }
}

@media screen and (max-width: 768px) {
  .line__redLeft {
    display: none;
  }

  #card {
    margin-top: 20px;
  }
}
/* RECOMMENDATION */

/* LOCATION */
#location {
  margin: 0 auto 50px auto;
  text-align: center;
}

.blue__text {
  text-align: center;
  font-family: var(--font-neon);
  color: #d9edff;
  text-shadow: 0 0 10px #08f, 0 0 10px #08f, 0 0 10px #08f;
}

iframe,
.map iframe {
  width: 70%;
  height: 400px;
  padding-top: 10px;
  filter: grayscale(1);
  border-radius: var(--space-md);
}

iframe:hover {
  filter: none;
  transition: ease-in-out 0.5s;
}
/* LOCATION */

/* FOOTER */
#footer {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  height: 250px;
  background-color: #000f34;
  overflow: hidden;
}

.footer-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer__img {
  width: 150px;
  margin-left: 0 auto;
  display: block;
}

.footer_sosmed {
  position: relative;
  top: -10px;
  justify-content: center;
  text-align: center;
  cursor: pointer;
}

.footer_sosmed > a {
  padding: 0 8px;
  color: #fff;
}

.footer_sosmed > a > i {
  color: #fff;
  font-size: 2rem;
}

.footer_sosmed i:hover {
  text-shadow: 0 0 10px #ff003c, 0 0 10px #ff003c, 0 0 10px #ff003c;
  transition: 0.2s;
}

.footer__links {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  justify-items: center;
  align-content: center;
}

.footer__links h3 {
  font-family: var(--font-neon);
  font-size: 1.5rem;
  text-align: center;
  color: #ffd9e2;
  text-shadow: 0 0 10px #ff003c, 0 0 10px #ff003c, 0 0 10px #ff003c;
}

.footer__links p {
  font-size: 1.3rem;
  font-family: var(--font-neon);
  text-align: center;
  color: #fff;
}

.footer__links p:hover {
  color: #d9edff;
  text-shadow: 0 0 10px #08f, 0 0 10px #08f, 0 0 10px #08f;
  opacity: 1;
  transition: 0.2s;
}

.footer__links a {
  text-decoration: none;
  text-transform: capitalize;
  position: relative;
}

.static-shadow {
  text-shadow: 0 0 10px #08f, 0 0 10px #08f, 0 0 10px #08f;
}

.static-shadow:hover {
  cursor: default;
}

.footer__hours {
  font-size: 1rem;
  margin-top: var(--space-xl);
  text-align: center;
  justify-content: center;
  margin-bottom: var(--space-lg);
}

.footer__hours h3 {
  font-size: 1rem;
  font-family: var(--font-neon);
  text-align: center;
  color: #ffd9e2;
  text-shadow: 0 0 10px #ff003c, 0 0 10px #ff003c, 0 0 10px #ff003c;
}

.footer__hours p {
  font-family: var(--font-neon);
  font-size: 0.85rem;
  text-align: center;
  color: #d9edff;
  text-shadow: 0 0 10px #08f, 0 0 10px #08f, 0 0 10px #08f;
}

.middle {
  margin-left: 130px;
  margin-top: 20px;
}

@media screen and (max-width: 768px) {
  iframe {
    width: 80%;
    height: 250px;
  }

  #footer {
    flex-direction: column;
    height: 600px;
  }

  .footer-container {
    margin-top: 20px;
  }

  .middle {
    margin-left: 0;
  }

  .footer__links h3,
  .footer__links p {
    font-size: 1rem;
  }
}
/* FOOTER */

/* BACK TO TOP */
.back-to-top {
  position: fixed;
  right: 1rem;
  bottom: 1rem;
  z-index: 99999;
}

.back-to-top i {
  font-size: var(--space-lg);
  width: 40px;
  height: 40px;
  border-radius: 0.25rem;
  background-color: teal;
  color: coral;
  transition: all 0.4s;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon-color {
  background-color: teal;
  color: coral;
}

.back-to-top i:hover {
  background-color: rgba(0, 128, 128, 0.514);
  color: #fff;
}
/* BACK TO TOP */

/* ABOUT US HERO */
.about-container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.danbam-building {
  width: 450px;
  margin-left: 50px;
}

.about-hero-text {
  display: block;
  text-align: justify;
  width: 35%;
}

.about-hero-text .title__text {
  font-size: 4rem;
}

.about-hero-text .description__text {
  font-size: 1.3rem;
}

@media screen and (max-width: 1024px) {
  .danbam-building {
    margin-left: 20px;
  }

  .about-hero-text {
    width: 45%;
  }
}

@media screen and (max-width: 768px) {
  .about-container {
    flex-direction: column-reverse;
  }

  .about-hero-text {
    justify-content: center;
    align-items: center;
    width: 80%;
  }

  .about-hero-text .title__text {
    text-align: center;
    margin-top: 20px;
  }
}

@media screen and (max-width: 412px) {
  .danbam-building {
    width: 300px;
  }
}
/* ABOUT US HERO */

/* ABOUT US HISTORY */
.history {
  color: #fff;
  font-family: Poppins, sans-serif;
}

.history h1,
.history ul li .item h2 {
  text-shadow: 1px 1px 1px rgba(56, 56, 56, 0.5);
}

.history h1 {
  background: #fff;
  padding: 70px 0;
  font-size: 2.5em;
  text-align: center;
}

.history ul {
  padding: 50px 0;
}

.history ul li {
  background: #2196f3;
  position: relative;
  margin: 0 auto;
  width: 5px;
  padding-bottom: 40px;
  list-style-type: none;
}

.history ul li:last-child {
  padding-bottom: 7px;
}

.history ul li:before {
  content: "";
  background: red;
  position: absolute;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
  width: 20px;
  height: 20px;
  border: 3px solid #fff;
  border-radius: 50%;
}

.history ul li .item {
  background: #fff;
  position: relative;
  top: 7px;
  width: 450px;
  padding: 20px;
  align-content: center;
  text-align: center;
  justify-content: center;
}

.history ul li .item h2 {
  color: #fff;
  padding-bottom: 10px;
  text-align: center;
}

.history ul li .item p {
  text-align: center;
}

.history ul li .item:before {
  content: "";
  background: #2196f3;
  position: absolute;
  top: 0;
  width: 55px;
  height: 5px;
  z-index: -1;
}

.history ul li:nth-child(even) .item {
  left: 50px;
  background: #182245;
  border: 5px solid;
  border-image-slice: 1;
  border-image-source: linear-gradient(to left, #ff5821, #2196f3);
}

.history ul li:nth-child(even) .item:before {
  left: -38px;
}

.history ul li:nth-child(odd) .item {
  left: calc(-450px - 45px);
  background-color: #182245;
  border: 5px solid;
  border-image-slice: 1;
  border-image-source: linear-gradient(to left, #2196f3, #ff5821);
}

.history ul li:nth-child(odd) .item:before {
  right: -38px;
}

@media screen and (max-width: 1020px) {
  .history ul li .item {
    width: 41vw;
  }
  .history ul li:nth-child(odd) .item {
    left: calc(-41vw - 45px);
  }
}

@media screen and (max-width: 700px) {
  .history ul li {
    margin-left: 20px;
  }
  .history ul li .item {
    width: calc(100vw - 100px);
  }
  .history ul li .item h2 {
    text-align: initial;
  }
  .history ul li:nth-child(odd) .item:before {
    left: -33px;
  }
  .history ul li:nth-child(odd) .item {
    left: 45px;
    border-image-source: linear-gradient(to left, #ff003c, #2196f3);
  }
}
/* ABOUT US HISTORY */

/* ABOUT US SOCIAL MEDIA */
.socialmedia {
  padding-top: 20px;
  padding-bottom: 20px;
}

.socialmedia-title {
  text-align: center;
  font-family: var(--font-neon);
  font-size: 2.3rem;
  color: #ffd9e2;
  text-shadow: 0 0 10px #ff003c, 0 0 10px #ff003c, 0 0 10px #ff003c;
}

.listsosmed {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.itemsosmed {
  margin-top: 20px;
  display: grid;
  grid-template-columns: 70px 230px;
  color: #fff;
  font-size: 1.6em;
  font-family: var(--font-neon);
  text-align: center;
}

.itemsosmed:last-child {
  margin-bottom: 40px;
}

.itemsosmed img {
  width: 80%;
}

.itemsosmed p {
  margin-top: auto;
  margin-bottom: auto;
}

.itemsosmed p a {
  color: #fff;
}

.itemsosmed p a:hover {
  color: red;
}

@media screen and (max-width: 768px) {
  .itemsosmed {
    grid-template-columns: 50px 180px;
    font-size: 1rem;
  }

  .itemsosmed img {
    width: 100%;
  }
}
/* ABOUT US SOCIAL MEDIA */

/* MENU SLIDER*/
#slider {
  position: relative;
  overflow: hidden;
  margin: 150px auto 0 auto;
  border-radius: 4px;
}

#slider ul {
  position: relative;
  overflow: hidden;
}

#slider ul li {
  position: relative;
  display: block;
  float: left;
  width: 650px;
}

#slider > ul > li img {
  width: 100%;
}

a.control_prev,
a.control_next {
  position: absolute;
  top: 40%;
  z-index: 999;
  display: block;
  padding: 4% 3%;
  width: 3%;
  height: 3%;
  background: #182245;
  color: #fff;
  text-decoration: none;
  font-weight: 600;
  font-size: 18px;
  opacity: 0.8;
  cursor: pointer;
}

a.control_prev:hover,
a.control_next:hover {
  opacity: 1;
  transition: all 0.2s ease;
}

a.control_prev::before {
  position: absolute;
  top: 5%;
  left: -20%;
  content: "\ea64";
  font-family: remixicon;
  font-size: 3rem;
  color: white;
}

a.control_next::before {
  position: absolute;
  top: 5%;
  right: -20%;
  content: "\ea6e";
  font-family: remixicon;
  font-size: 3rem;
  color: white;
}

a.control_prev {
  border-radius: 0 50% 50% 0;
}

a.control_next {
  right: 0;
  border-radius: 50% 0 0 50%;
}

@media screen and (max-width: 765px) {
  #slider {
    display: none;
  }
}
/* MENU SLIDER*/

/* MENU GRID*/
#menu {
  margin: 0 16%;
  margin-bottom: 10%;
}

#menu h4 {
  margin-bottom: 3%;
}

.menuitemlist {
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: repeat(auto-fill, minmax(200px, 250px));
  grid-gap: 20px;
}

.menuitem {
  display: grid;
  grid-template-rows: 40% 60%;
  justify-content: center;
  align-items: center;
  border-radius: 0.75rem;
  padding: 10px;
  width: 100%;
  height: 400px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  background-color: rgba(255, 255, 255, 0.8);
  color: #000;
  font-family: Poppins, sans-serif;
  text-align: center;
  padding: 15px;
}

.menuitem img {
  width: 70%;
}

.menutext {
  font-family: var(--font-family);
}

.menuproductname {
  text-align: center;
  font-size: 1.2rem;
  font-weight: bold;
}

.menuproductdescription {
  text-align: center;
}

.menuproductprice {
  text-align: center;
  font-size: 1rem;
}

.buttonorder {
  margin-top: 15px;
  color: red;
  display: flex;
}

.buttonorder p {
  margin-left: auto;
  margin-right: auto;
  padding: 2.5%;
  padding-left: 10%;
  padding-right: 10%;
  border: 2px solid red;
  border-radius: 200px;
}

.buttonorder:hover p {
  background-color: rgba(255, 0, 60, 0.5);
  color: #fff;
  transition: 1s;
}

@media screen and (max-width: 1024px) {
  #menu {
    margin: 0 10%;
    margin-bottom: 10%;
  }
}

@media screen and (max-width: 765px) {
  #menu {
    margin: 50px;
  }
}
/* MENU GRID */

/* LOCATION */
.sub_title {
  font-size: 4rem;
  text-align: center;
  margin-top: 140px;
}

.branches {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  color: white;
  font-family: var(--font-neon);
  margin-bottom: 80px;
}

.branch-frame {
  position: relative;
  border-style: solid;
  border-width: 1px;
  border-color: #fff;
  margin-top: 80px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10%;
}

.branch-city {
  position: absolute;
  top: -25px;
  padding: 0 30px 0 30px;
  background-color: #182245;
  font-size: 2em;
  text-shadow: 0 0 0.5vw #3735f8, 0 0 1vw #3735f8, -1vw 0 1vw #3735f8,
    1vw 0 1vw #3735f8;
}

.branch-frame:hover {
  box-shadow: 3px 3px 5px #fff, -3px -3px 5px #fff;
  transition: 0.3s;
}
/* LOCATION */

/* FORM */
.form {
  margin: auto;
  text-align: left;
  background-color: #000f34;
  border: 3px solid #fff;
  border-radius: 50px;
  padding: 5%;
  color: #fff;
  font-family: var(--font-family);
}

.block {
  position: relative;
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  border-radius: 50px;
  background: #fff;
  margin-bottom: 150px;
}

.glow:before {
  border-radius: 50px;
  content: "";
  position: absolute;
  left: -2px;
  right: -2px;
  background: linear-gradient(
    45deg,
    #e6fb04,
    #f60,
    #0f6,
    #0ff,
    #f0f,
    #f09,
    #6e0dd0,
    #f30,
    #099fff
  );
  background-size: 500%;
  width: calc(100% + 5px);
  height: calc(100% + 10px);
  z-index: -1;
  -webkit-animation: borderrun 20s linear infinite;
  animation: borderrun 20s linear infinite;
  transform: translateY(-1%);
}

@-webkit-keyframes borderrun {
  0% {
    background-postition: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}
@keyframes borderrun {
  0% {
    background-postition: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.glow::after {
  -webkit-filter: blur(40px);
  filter: blur(40px);
}

.data {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.data label {
  margin: 0 0 5px 10px;
}

#input-branch,
.data input {
  border: none;
  border-radius: 10px;
  min-height: 30px;
  padding: 0 10px 0 10px;
}

.data input:focus,
.data select:focus {
  outline: 0;
}

.gender {
  display: flex;
  width: 150px;
  justify-content: space-between;
  align-items: center;
  margin-left: 1.5%;
}

.gender p {
  margin-left: -10%;
}

.branch {
  display: flex;
  align-items: center;
  flex-direction: row;
  margin-left: 1.5%;
}

.branch p {
  margin-right: 3%;
  margin-left: 1%;
}

.branch input[type="radio"] {
  padding: 10px;
}

.sets {
  display: flex;
  width: auto;
  align-items: center;
}

.sets:not(:first-child) {
  margin-left: 18px;
}

.sets p {
  margin-left: 3px;
}

.data textarea {
  border: none;
  border-radius: 10px;
  max-width: 100%;
  padding: 5px 10px 5px 10px;
  resize: none;
}

.data textarea:focus {
  border-radius: 10px;
  outline: 0;
}

.termbutton {
  margin-top: 2%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.checkbox {
  float: left;
  display: flex;
  align-items: center;
  margin-left: 1.5%;
}

.textcheckbox {
  margin-left: 10px;
}

.data input[type="email"]::-webkit-input-placeholder,
.data input[type="text"]::-webkit-input-placeholder,
.data textarea::-webkit-input-placeholder {
  font-family: var(--font-family);
}

.button {
  cursor: pointer;
  float: right;
  background-color: #182245;
  height: 40px;
  width: 15%;
  border: none;
  border-radius: 10px;
  color: #fff;
  border: 2px solid #fff;
}

.button:hover {
  background-color: #fff;
  color: #000f34;
  transition: all 0.3s ease-out;
}

.error {
  color: red;
  font-size: 100%;
}

@media (max-width: 1025px) {
  .block {
    width: 70%;
    margin-bottom: 200px;
  }

  #form h1 {
    margin-top: 220px;
  }
}

@media (max-width: 768px) {
  .block {
    width: 90%;
    margin-bottom: 80px;
  }

  #form h1 {
    margin-top: 150px;
  }
}

@media (max-width: 360px) {
  #form h1 {
    font-size: 2.5rem;
  }
}
/* FORM */
